{% extends 'public/base.html' %}

{% block title %}
    <title>J.A.P-ServiceInfo</title>
{% endblock %}
{% block css %}
        <style>
            .modal form input{
                color: #797979;
            }
            .modal form select{
                color: #797979;
            }
            .query {
                color: #797979;
            }
            .pagination li.active a{
                background-color: #39b2a9 !important;
            }
            li a{
                color: #797979;
            }
{#            .jconfirm .jconfirm-box.jconfirm-type-green{#}
{#                border-top: solid 7px #A9D86E;#}
{#            }#}
        </style>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading" style="position: relative;height: 55px;line-height: 38px" >
                    <span >QueryResult:&nbsp<em class="text-danger">{{ page_obj.paginator.count }}&nbsp</em>entries</span>
                    <button id="add_service_button" class="btn btn-round btn-danger" style="position: absolute;right: 90px;top: 11px" >Add Service</button>
                </header>
                <header class="panel-heading" style="display: block;position: relative" >
                    <form  class="form-horizontal tasi-form" action={% url 'serviceinfo' %} method="get">
                        <div class="form-group ">
                            <div class="col-lg-3">
                                <input type="text" class="query form-control round-input" name="search_keywords" value="{{ search_keywords }}"  placeholder="Search ServiceName|ShortName">
                            </div>
{#                            <div class="col-lg-2">#}
{#                                <input type="email" class="query form-control round-input" name="email" value="{{ email }}" placeholder="Enter Email">#}
{#                            </div>#}
{#                            <div class="col-lg-2">#}
{#                                <input type="text" class="query form-control round-input" name="phone"  value="{{ phone }}" placeholder="Enter Phone">#}
{#                            </div>#}

                            <button type="submit" class=" btn btn-round btn-primary query_user_message" style="position: absolute;right: 90px" >Query Criteria</button>
                        </div>
                    </form>
                </header>

                <div class="panel-body">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th><i class="icon-user"></i><em> </em>Service Name</th>
{#                            <th><i class="icon-male"></i><em> </em>Cname</th>#}
                            <th class="hidden-phone"><i class="icon-envelope"></i><em> </em>Short Name</th>
                            <th class="hidden-phone"><i class="icon-mobile-phone"></i><em> </em>Developer</th>
                            <th><i class="icon-cogs"></i><em> </em>Script</th>
                            <th><i class="icon-cogs"></i><em> </em>Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {#                        当前页面所有数据的对象列表，page_obj.object_list#}
                        {% for service in page_obj.object_list %}
                        <tr>
                            <td class="servicename">{{ service.service_name}}</td>
{#                                <td class="cname">{{ user.profile.cname}}</td>#}
                            <td class="shortname">{{ service.short_name }}</td>
                            <td class="dev_user">{{ service.dev_name.username }}</td>
                            <td class="script">{{ service.get_script_display }}</td>
                            <td>
                                <a href="#modifymodal" data-toggle="modal" class="btn btn-primary btn-xs modify_service_message" data="{{ service.id }}">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#delmodal" data-toggle="modal" class="btn btn-danger btn-xs delete_service_message" data="{{ service.id }}"><i class="icon-trash "></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-default" style="margin-top: -30px">
                    <center>
                        <ul class="pagination" >
                            <li><a href="{% url 'userinfo' %}?page=1">Home</a></li>
                            {# 如果有前一页，前一页按钮可以点击，否则不可以点击 #}
                            {% if page_obj.has_previous %}
                                <li class="paginate_button previous" aria-controls="editable" tabindex="0" id="editable_previous">
                                    <a class="page" href="?{{ page_obj.previous_page_number.querystring }}">Prev</a>
                                </li>
                            {% else %}
                                <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0" id="editable_previous">
                                    <a class="page" href="#">Prev</a>
                                </li>
                            {% endif %}

                            {% for page in page_obj.pages %}
                                {% if page %}
                                    {% ifequal page page_obj.number %}
                                        <li class="paginate_button active"  aria-controls="editable" tabindex="0"><a class="page" href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="paginate_button" aria-controls="editable" tabindex="0"><a class="page" href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next">
                                    <a class="page" href="?{{ page_obj.next_page_number.querystring }}">Next</a>
                                </li>
                            {% else %}
                                <li class="paginate_button next disabled" aria-controls="editable" tabindex="0" id="editable_next">
                                    <a class="page" href="#">Next</a>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'userinfo' %}?page={{ page_obj.paginator.num_pages }}">End</a></li>
                        </ul>
                    </center>
{#                    <center>#}
{#                        <ul class="pagination">#}
{#                            <li><a href="{% url 'userinfo' %}?page=1&{{ uri }}">Home</a></li>#}
                            {#                    上一页是否存在#}
{#                            {% if page_obj.has_previous %}#}
                                {#                        返回上一页的页码#}
{#                                <li><a href="{% url 'userinfo' %}?page={{ page_obj.previous_page_number }}&{{ uri }}">Prev</a></li>#}
{#                            {% else %}#}
{#                                <li class="disabled"><a href="#&{{ uri }}">Prev</a></li>#}
{#                            {% endif %}#}
{##}
                            {#  {% for p in page_obj.paginator.page_range %} #}
                            {#                    所有页码的范围[1,2,3,4,5]#}
{#                            {% for p in page_range %}#}
                                {#                        当前页序号#}
{#                                <li {% if page_obj.number == p %}  class="active" {% endif %}><a class=""  href="{% url 'userinfo' %}?page={{ p }}&{{ uri }}">{{ p }}</a></li>#}
{#                            {% endfor %}#}
                            {#                    判断是否有下一页#}
{#                            {% if page_obj.has_next %}#}
                                {#                        获取下一页的页数#}
{#                                <li><a href="{% url 'userinfo' %}?page={{ page_obj.next_page_number }}&{{ uri }}">Next</a></li>#}
{#                            {% else %}#}
{#                                <li class="disabled"><a href="#&{{ uri }}">Next</a></li>#}
{#                            {% endif %}#}
                            {#                    页面总数，正好充当末页#}
{#                            <li><a href="{% url 'userinfo' %}?page={{ page_obj.paginator.num_pages }}&{{ uri }}">End</a></li>#}
{#                        </ul>#}
{#                    </center>#}
                </div>
            </section>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addmodal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Add Service</h4>
                </div>
                <div class="panel-body">
                    <div class="form">
                        <form class="cmxform form-horizontal tasi-form" id="add_form">
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">Service Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control help-block" id="a_service_name" name="a_service_name" type="text"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-lg-2">Short Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control help-block"  id="a_short_name" name="a_short_name" type="text"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="email" class="control-label col-lg-2">Developer</label>
                                <div class="col-lg-10 ">
                                    <select name="a_dev_name" id="a_dev_name" class="chosen" data-placeholder="please choice">
                                        <option></option>
                                        {% for u in user %}
                                            <option value={{ u.id }}>{{ u.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="email" class="control-label col-lg-2">Script</label>
                                <div class="col-lg-10 ">
                                    <select name="a_script" id="a_script" class="chosen" data-placeholder="please choice">
                                        <option></option>
                                        {% for s in script %}
                                            <option value={{ s.0 }}>{{ s.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-danger" type="button" id="add_service_submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modifymodal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Modify Service</h4>
                </div>
                <div class="panel-body">
                    <div class="form">
                        <form class="cmxform form-horizontal tasi-form" id="modify_form">
                            <div class="form-group ">
                                <input type="hidden" name="m_service_id" id="m_service_id">
                                <label  class="control-label col-lg-2">Service Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control help-block" id="m_service_name" name="m_service_name" type="text"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="control-label col-lg-2">Short Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control help-block"  id="m_short_name" name="m_short_name" type="text"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="email" class="control-label col-lg-2">Developer</label>
                                <div class="col-lg-10 ">
                                    <select name="m_dev_name" id="m_dev_name" class="chosen" data-placeholder="please choice">
                                        <option></option>
                                        {% for u in user %}
                                            <option value={{ u.id }}>{{ u.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="email" class="control-label col-lg-2">Script</label>
                                <div class="col-lg-10 ">
                                    <select name="m_script" id="m_script" class="chosen" data-placeholder="please choice">
                                        <option></option>
                                        {% for s in script %}
                                            <option value={{ s.0 }}>{{ s.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-danger" type="button" id="modify_service_submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="delmodal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Delete Service</h4>
                </div>
                <div class="panel-body">
                    <div class="form">
                        <form class="cmxform form-horizontal tasi-form" id="d_form">
                            <input type="hidden" name="d_service_id" id="d_service_id">
                            <div class="form-group ">
                                <label  class="control-label col-lg-2">Short Name</label>
                                <div class="col-lg-10">
                                    <input id="d_short_name" class="form-control" name="d_short_name" type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-danger" type="button" id="d_submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{#    <script>#}
        $(document).ready(function () {
            $('.chosen').chosen({
                no_results_text: "The Developer not found",
                search_contains: true,{#模糊查询#}
                width: "100%",
            });
            $('#add_service_button').click(function(){
                $('.errmsg').remove();
                $('#addmodal').modal('show');
                $('#add_service_submit').click(function () {
                    var str = $('#add_form').serialize();
                    console.log(str);
                    $.post('{% url 'serviceinfo' %}',
                        str,
                        function (ret) {
                            console.log(ret);
                            if(ret.status==0) {
                                $('#addmodal').modal('hide');
                                confirm(status=0,title='Add service',content='Success');
                            }
                            else if (ret.status==1){
                                confirm(status=1,title='Add service',content=ret.errmsg);
                            }else{
                                $('.errmsg').remove();
                                $.each(JSON.parse(ret.errmsg),function (k,v) {
                                    var tag =document.createElement('span');
                                    tag.className='errmsg';
                                    tag.style='display:block;color:red;margin-top:10px';
                                    tag.innerText=v[0].message;
                                    if (k=='a_dev_name'){
                                        $('.chosen-container ').after(tag)
                                    }else{
                                        $('#'+k).after(tag)
                                    }

                                });
                            }
                        }
                    )
                });
            });
            $('.modify_service_message').click(function () {
                $('.errmsg').remove();
                var click_obj=$(this);
                var id=click_obj.attr('data');
                str={'service_id':id};
                $.get(
                    '{% url 'serviceinfo' %}',
                    str,
                    function (ret) {
                        if (ret.status == 0) {
                            $('#m_service_name').attr('value', ret.service_name);
                            $('#m_service_id').attr('value', id);
                            $('#m_short_name').attr('value', ret.short_name);
                            $('#m_dev_name').val(ret.dev_name).trigger('chosen:updated')
                            $('#m_script').val(ret.script).trigger('chosen:updated')
                        } else {
                            confirm(status = 1, title = 'Modify service', content = ret.errmsg);
                        }
                    }
                )
            });
            $('#modify_service_submit').click(function () {
                var str=$('#modify_form').serialize();
                console.log(str)
                $.ajax({
                    url:"{% url 'serviceinfo' %}",
                    type:'PUT',
                    data:str,
                    datatype:'json',
                    success:function (ret) {
                        if(ret.status==0) {
                            $('#modifymodal').modal('hide');
                            confirm(status=0,title='Modify Success',content='Modify Success');

                        }
                        else if (ret.status==1){
                            $('#modifymodal').modal('hide');
                            confirm(status=1,title='Modify Failed',content=ret.errmsg);

                        }else {
                            $('.errmsg').remove();
                            $.each(JSON.parse(ret.errmsg),function (k,v) {
                                var tag =document.createElement('span');
                                tag.className='errmsg';
                                tag.style='display:block;color:red;margin-top:10px';
                                tag.innerText=v[0].message;
                                $('#'+k).after(tag)
                            });
                        }
                    }
                });
            })

            $('.delete_service_message').click(function () {
                var click_obj=$(this);
                var short_name=click_obj.parents('td').siblings('.shortname').text();
                var service_id=click_obj.attr('data');
                $('#d_short_name').attr('placeholder',short_name).attr('disabled',true);
                $('#d_service_id').attr('value',service_id);
                $('#d_submit').click(function () {
                    var service_id=$('#d_service_id').val();
                    var str={'service_id':service_id};
                    console.log(str)
                    $.ajax({
                        url:'{% url 'serviceinfo' %}',
                        type:'DELETE',
                        data:str,
                        datatype:'json',
                        success:function (ret) {
                            if (ret.status==0){
                                click_obj.parents('tr').remove();
                                $('#delmodal').modal('hide');
                                confirm(status=0,title='Delete Success',content='Delete Service: '+ short_name);
                            }
                            else {
                                confirm(status=1,title='Delete Failed',content=ret.errmsg);
                            }
                        }
                    });
                })
            });
        });

        function modify_user_status(id) {
            $.post(
                '{% url 'modifystatus' %}',
                {'user_id':id},
                function (ret) {
                    console.log(ret);
                    if(ret.status != 0){
                        $.confirm({
                            title: ' Failed',
                            content: ret.errmsg,
                            type: 'red',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'I know',
                                    btnClass: 'btn-red',
                                    action: function(){
                                        location.reload();
                                    }
                                }
                            }
                        });
                    }
                }
            )
        }
{#    </script>#}
{% endblock %}