
{% extends 'public/base.html' %}
{% block title %}
    <title>J.A.P-IdcInfo</title>
{% endblock %}
{% block css %}
        <style>
            .modal form input {
                color: #797979;
            }
            .pagination li.active a{
                background-color: #39b2a9 !important;
            }
            li a{
                color: #797979;
            }
        </style>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading" >
                    <span >QueryResult:&nbsp<em class="text-danger">{{ page_obj.paginator.count }}&nbsp</em>entries</span>
                    <a href= "#addproductmodal" data-toggle="modal" type="button " class="btn btn-danger btn-round btn-primary col-lg-offset-9" >Add&nbspProduct</a>
                </header>
                <div class="panel-body">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th><i class="icon-home"></i>&nbspProduct&nbspName</th>
                            <th><i class="icon-book"></i>&nbspShort&nbspName</th>
{#                            <th><i class="icon-cogs"></i>&nbspAddress</th>#}
{#                            <th><i class="icon-user"></i>&nbspContact&nbspUser</th>#}
{#                            <th><i class="icon-mobile-phone"></i>&nbspPhone</th>#}
{#                            <th><i class="icon-envelope"></i>&nbspEmail</th>#}
{#                            <th><i class="icon-envelope"></i>&nbspupdate Time</th>#}
                            <th><i class="icon-cogs"></i>&nbspOperation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in page_obj.object_list %}
                            <tr>
                                <td class="productname">{{ product.name }}</td>
                                <td class="productshortname">{{ product.short_name }}</td>
{#                                <td class="idcaddress">{{ idc.address }}</td>#}
{#                                <td class="idccontactuser">{{ idc.contact_user }}</td>#}
{#                                <td class="idcuserphone">{{ idc.user_phone }}</td>#}
{#                                <td class="idcuseremail">{{ idc.user_email }}</td>#}
{#                                <td class="idcuseremail">{{ idc.update_time }}</td>#}
                                <td>
                                    <button class="btn btn-primary btn-xs modify_idc_message" data="{{ product.id }}">
                                        <i class="icon-pencil"></i>
                                    </button>
{#                                    <button  class="btn btn-danger btn-xs delete_idc_message" data="{{ product.id }}">#}
{#                                        <i class="icon-trash "></i>#}
{#                                    </button>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addproductmodal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Add Product</h4>
                </div>
                <div class="panel-body">
                    <div class="form">
                        <form class="cmxform form-horizontal tasi-form" id="aform">
                            <div class="form-group ">
                                <label  class="control-label col-lg-3">Product Name</label>
                                <div class="col-lg-8">
                                    <input class="form-control help-block" id="name" name="name" type="text"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label  class="control-label col-lg-3">Short Name</label>
                                <div class="col-lg-8">
                                    <input class="form-control help-block" id="short_name" name="short_name" type="text"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-danger" type="button" id="add_product_submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    $('#add_product_submit').click(function () {
        var c_url=location.href;
        var str = $('#aform').serialize();
        console.log(str);
        $.post('{% url 'productinfo' %}',
            str,
            function (ret) {
                console.log(ret);
                if(ret.status==0) {
                    $('#addproductmodal').modal('hide');
                    confirm(status='0',title='Success',content='New product info add success.');
                }
                else if(ret.status==1){
                    confirm(status='1',title='Failed',content=ret.errmsg);
                }else {
                    $('.errmsg').remove();
                    $.each(JSON.parse(ret.errmsg),function (k,v) {
                        var tag =document.createElement('span');
                        tag.className='errmsg';
                        tag.style='display:block;color:red;margin-top:10px';
                        tag.innerText=v[0].message;
                        $('#'+k).after(tag)
                    });
                }
            }
        )
    });
{% endblock %}