{% extends 'public/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading" style="display: block;position: relative" >
                    <div class="panel-body">
                        <div id="main" style="width: 1000px;height:300px;"></div>
                    </div>
                </header>
                <header class="panel-heading" style="display: block;position: relative" >
                    <div class="panel-body">
                        <div id="main1" style="width: 1000px;height:400px;"></div>
                    </div>
                </header>


            </section>
        </div>
    </div>
{#    这是我的主页#}

{% endblock %}
{% block js %}
{#    <script>#}
        function test1 () {
            var myChart = echarts.init(document.getElementById('main'));
            // 指定图表的配置项和数据
            option = {
                title : {
                    text: 'Server Infomation',
                    subtext: 'Totle:430',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                calculable : true,
                series : [
                    {
                        name:'半径模式',
                        type:'pie',
                        radius : [30, 110],
                        center : ['25%', '50%'],
                        roseType : 'area',
                        label: {
                            normal: {
                                show: true
                            },
                            emphasis: {
                                show: true
                            }
                        },
{#                        // lableLine: {#}
{#                        //     normal: {#}
{#                        //         show: false#}
{#                        //     },#}
{#                        //     emphasis: {#}
{#                        //         show: true#}
{#                        //     }#}
{#                        // },#}
                        data:[
                            {value:50, name:'java'},
                            {value:20, name:'tomcat'},
                            {value:8, name:'nginx'},
                            {value:10, name:'fastdfs'},
                            {value:30, name:'mysql'},
                            {value:25, name:'codis'},
                        ]
                    },
                    {
                        name:'面积模式',
                        type:'pie',
                        radius : [30, 110],
                        center : ['75%', '50%'],
                        roseType : 'area',
                        data:[
                            {value:64, name:'cmp'},
                            {value:40, name:'nav'},
                            {value:30, name:'cgc'},
                            {value:60, name:'msc'},
                            {value:20, name:'msc4pp'},
                            {value:32, name:'acp'},
                            {value:30, name:'csc'},
                            {value:80, name:'ucc'}
                        ]
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }
        function test2 () {
            var myChart = echarts.init(document.getElementById('main1'));
            option = {
                title: {
                    text: 'Client Information',
                    x:'center',
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:['Android', 'Ios'],
                    x:'center',
                    y:'30px',
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'Android',
                        type:'line',
                        step: 'start',
                        data:[5002000, 6000100, 7000002,8000500, 9000000, 13230000, 15000000]
                    },
                    {
                        name:'Ios',
                        type:'line',
                        step: 'middle',
                        data:[10002000, 11200100, 12000002,9000500, 13000000, 13230000, 15000000]
                    },
                ]
            };
            myChart.setOption(option);
        }

        test1();
        test2();

{% endblock %}